
{{extend 'layout.html'}}
<table class="table table-striped">
   <thead>
    <tr>
      <th scope="col">course_code</th>
      <th scope="col">course_name</th>
      <th scope="col">description</th>
      <th scope="col">instructor</th>
       <th scope="col">schedule_id</th>
       <th scope="col">capacity</th>
    </tr>
  </thead>
  <tbody>
  	{{for courses in courses:}}
    <tr>
      <td>{{=courses['course_code']}}</td>
      <td>{{=courses['course_name']}}</td>
      <td>{{=courses['description']}}</td>
      <td>{{=courses['instructor']}}</td>
       <td>{{=courses['schedule_id']}}</td>
       <td>{{=courses['capacity']}}</td>

    </tr>
    {{pass}}

  </tbody>
  </table>
