
{{extend 'layout.html'}}


<style>
    #div{
    width:500px;
    height:2000px;

    }

</style>


<div id="div">
      <table class="table table-striped">
   <thead>
    <tr>
      <th scope="col">course_code</th>
      <th scope="col">course_name</th>
        <th scope="col">instructor</th>

    </tr>
  </thead>
  <tbody>
  	{{for courses in courses:}}
    <tr>
      <td><a href="courses?code={{=courses['course_code']}}"> {{=courses['course_code']}}</a></td>
      <td> <a href="courses?name={{=courses['course_name']}}">{{=courses['course_name']}}</a></td>
       <td> <a href="courses?instructor={{=courses['instructor']}}">{{=courses['instructor']}}</a></td>

    </tr>
    {{pass}}

  </tbody>
  </table>
</div>
